table.myGrid{
    border: 1px solid #000000;
    border-collapse: collapse;

}
table.myGrid tr th{
    text-align: left;
    padding: 5px 5px 5px 8px;
    border: 1px solid #000000; 
}
table.myGrid tr td{
    text-align: left;
    padding: 5px 5px 5px 8px;
    border: 1px solid #000000;
}
table.myGrid tr:nth-child(even){
   background: #999999;
}